.app {
    height: 100vh;
    background-color: black;
    color: white;
}

.main-header {
    font-size: 60px;
    font-weight: bold;
    padding: 10vmin;
    text-rendering: optimizeLegibility;
}

.main-nav {
    bottom: 0;
    font-size: 22px;
    padding: 10vmin;
}
