.app {
    height: 100vh;
    background-color: $black;
    color: white;
    overflow: hidden;
}

.main-header {
    font-size: 60px;
    font-weight: bold;
    padding: 8vmin;
    text-rendering: optimizeLegibility;
    width: 80%;
    margin: 0 auto;
}
.larger-text {
    font-size: 120px;
}

.main-nav {
    bottom: 0;
    font-size: 22px;
    padding-left: 6vmin;
    padding-bottom: 6vmin;
    left: calc(10%);
}

.connect-links i {
    color: white;
    font-size: 48px;
    a {
        width: fit-content;
    }
}

.highlight-text {
    color: $highlight-red;
}

.highlight-bg {
    background-color: $highlight-red;
}

.highlight-border-left {
    border-left: 2px solid $highlight-red;
    height: 3rem;
}

.connect-menu {
    height: 0;
    width: 0;
    left: 100%;
    @include t-all-200;
    a {
        opacity: 0;
    }
    &.active {
        background-color: $highlight-red;
        height: 50px;
        width: 200px;
        left: 100%;
        // @include highlight-shadow;
        a {
            @include anim-appear-smooth-1s;
            opacity: 1;
        }
    }
}

.connect-container,
.projects-container {
    z-index: 5;
    @include t-all-200;
    height: 50px;
    width: 140px;
}
.connect-container.active {
    // @include highlight-shadow;
}

.projects-menu {
    height: 0;
    width: 0;
    @include t-all-250;
    bottom: calc(6vmin + 50px + 3rem);
    left: calc(6vmin + 10%);
    background-color: $black;
    border-left: 2px solid $highlight-red;
    border-top: 1px solid $highlight-red;
    border-bottom: 1px solid $highlight-red;
    height: calc(100% - 12vmin - 50px - 3rem);
    .projects-content-container {
        opacity: 0;
        border-right: none;
        .close {
            color: white;
            z-index: 5;
            transform: translate(calc(50% + 1px), calc(-50% - 1px));
            top: 0;
            right: 0;
            opacity: 1;
            filter: drop-shadow(0px 0px 3px $black);
            span {
                font-size: 65px;
            }
        }
    }
    &.active {
        width: calc(100% - 12vmin - 20%);
        border-left: 1px solid $highlight-red;
        border-right: 1px solid $highlight-red;
        .projects-content-container {
            @include anim-appear-1s;

            border-right: 1px solid $highlight-red;
            background-color: #161616;
            opacity: 1;
            transition: background-color 0.8s ease;
        }
    }
}

.carousel-item {
    color: $black;
    img {
        max-width: 100%;
        height: auto;
    }
    .card {
        max-width: 1200px;
        background-color: $black;
        color: white;
        border: 1px solid $lightGray;
        margin-left: 5vmin;
        margin-right: 5vmin;
    }
}
